<div class="container">
    <input type="text" id="search" class="search-box" placeholder="Search In <%= title %>..."
           onkeyup="search('search','<%= header %>')">
</div>
<br/>
<div class="container">
    <table id="<%= header %>" class="table table-bordered">
        <colgroup>
            <col style="width: 30%"/>
            <col style="width: 60%"/>
            <col style="width: 10%"/>
        </colgroup>
        <thead>
        <tr style="background-color: #fcf518;">
            <th>Name</th>
            <th>Genre(s)</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
        <% for(let film of films){ %>
            <tr>
                <td><%= film["name"] %></td>
                <td><%= film["genres"].join(', ') %></td>
                <td><%= film["year"] %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<br/>