<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel='stylesheet' href='/bootstrap/stylesheets/bootstrap.min.css'/>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <div id="wrapper">
        <body>
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info" style="display: inline">gLiST</h2>
                <a href="/" style="margin-left: 80%;">Go back</a>
            </div>
        </div>
        <div class="container">
            <input type="text" id="myInput" class="search-box" placeholder="Search via name..." onkeyup="search()"
                   title="Search for a game">
        </div>
        <br/>
        <div class="container">
            <form action="games" method="POST" id="genre" autocomplete="off">
                <table id="game-table" class="table table-striped table-bordered">
                    <colgroup>
                        <col class="medium"/>
                        <col class="small"/>
                        <col class="small"/>
                        <col class="large"/>
                        <col class="small"/>
                        <col class="small"/>
                    </colgroup>
                    <tr>
                        <th onclick="sortTable(0)">Name</th>
                        <th onclick="sortTable(1)">Year</th>
                        <th>Platform</th>
                        <th>Genres</th>
                        <th>Series</th>
                        <th>Played</th>
                    </tr>
                    <tbody>
                    <tr style="background-color: #c3e6cb;">
                        <td class="addtd"><input class="add" type="text" name="name" required></td>
                        <td class="addtd">
                            <select class="add" name="year">
                                <% var x = 1958; while(x <= new Date().getFullYear()){ %>
                                <option value="<%= x %>"><%= x %></option>
                                <% x=x + 1;} %>
                            </select>
                        </td>
                        <td class="addtd">
                            <input list="platform" class="add" name="platform" required>
                            <datalist id="platform">
                                <% for(x of platforms){ %>
                                <option value="<%= x.Platform %>"><%= x.Platform %></option>
                                <% } %>
                            </datalist>
                        </td>
                        <td class="addtd" style="max-width: 50%">
                            <input type="button" onclick="addgenre()" value="+Add a genre">
                            <div id="genrediv">
                                <select name="genre" class="add">
                                    <% for(x of game_genres){ %>
                                    <option value="<%= x.Genre %>"><%= x.Genre %></option>
                                    <% } %>
                                </select>
                            </div>
                        </td>
                        <td class="addtd">
                            <select class="add" name="series">
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        </td>
                        <td class="addtd">
                            <select class="add" name="played">
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"><input type="submit" value="+ADD A GAME" class="button"></td>
                    </tr>
                    <% for(game of games){ %>
                    <tr>
                        <td><%= game.Name %></td>
                        <td><%= game.Year %></td>
                        <td><%= game.Platform %></td>
                        <td><%= game.Genres %></td>
                        <td>
                            <% if(game.Series.toString() === ''){ %>True
                            <% }else{ %>False
                            <% } %>
                        </td>
                        <td>
                            <% if(game.Played.toString() === ''){ %>True
                            <% }else{ %>False
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </form>
        </div>
        <br/>
        </body>
    </div>
    <div id="warning-message">
        <h1>Rotate your screen to access the website!</h1>
    </div>
</html>
<script src="/javascripts/script.js"></script>
<script>
    function addgenre() {
        let select = document.createElement("select")
        //select.parentElement = document.getElementById("genre")
        select.par
        select.setAttribute("name", "genre")
        select.setAttribute("class", "add")
        var game_genre = <%-JSON.stringify(game_genres)%>
        for(x of game_genre){
            let option = document.createElement("option")
            option.setAttribute("value",`${x.Genre}`)
            option.text=`${x.Genre}`
            select.appendChild(option)
        }
        document.getElementById("genrediv").appendChild(select)
    }
</script>
