<div class="container">
    <input type="text" id="search1" class="search-box" placeholder="Search In Posts..."
           onkeyup="search('search1','<%= header %>1')">
</div>
<br/>
<div class="container">
    <table id="<%= header %>1" class="table table-bordered">
        <colgroup>
            <col style="width: 80%"/>
            <col style="width: 20%"/>
        </colgroup>
        <thead>
        <tr style="background-color: #ff4500;">
            <th>Name</th>
            <th>Subreddit</th>
        </tr>
        </thead>
        <tbody>
        <% for(let post of posts){ %>
            <% if (post['nsfw'] === true){ %>
            <tr style="background: red">
                <% }else{ %>
            <tr>
                <% } %>
                <td><a target="_blank" href="https://reddit.com<%= post["link"] %>">
                        <%= post["title"] %>
                    </a>
                </td>
                <td><%= post["subreddit"] %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<br/>
<br/>
<div class="container">
    <input type="text" id="search2" class="search-box" placeholder="Search In Comments..."
           onkeyup="search('search2','<%= header %>2')">
</div>
<br/>
<div class="container">
    <table id="<%= header %>2" class="table table-bordered">
        <colgroup>
            <col style="width: 70%"/>
            <col style="width: 20%"/>
            <col style="width: 10%"/>
        </colgroup>
        <thead>
        <tr style="background-color: #ff4500;">
            <th>Comment Data</th>
            <th>Original Post</th>
            <th>Subreddit</th>
        </tr>
        </thead>
        <tbody>
        <% for(let comment of comments){ %>
            <% if (comment['nsfw'] === true){ %>
            <tr style="background: red">
                <% }else{ %>
            <tr>
                <% } %>
                <td><%- comment["body"] -%></td>
                <td>
                    <a target="_blank" href="https://reddit.com<%= comment["link"] %>">
                        <%= comment["post"] %>
                    </a>
                </td>
                <td><%= comment["subreddit"] %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
