<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel='stylesheet' href='/bootstrap/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div id="wrapper">
    <div class="container">
        <h2 class="text-info" style="float: left;">sLiST</h2>
        <a href="/" style="float: right;">Go back</a>
    </div>
    <div class="container">
        <input type="text" id="myInput" class="search-box" placeholder="Search via name..." onkeyup="search()"
               title="Search for a game">
    </div>
    <br/>
    <div class="container">
        <table id="game-table" class="table table-striped table-bordered">
            <colgroup>
                <col style="width: 30%"/>
                <col style="width: 30%"/>
                <col class="small"/>
                <col style="width: 15%"/>
                <col style="width: 15%"/>
            </colgroup>
            <tr>
                <th onclick="sortTable(0)">Name</th>
                <th>Type</th>
                <th onclick="sortTable(2)">Year</th>
                <th onclick="sortTable(3)">Language</th>
                <th>Watched</th>
            </tr>
            <tbody>
            <form action="shows" method="POST" autocomplete="off">
                <tr style="background-color: #c3e6cb;">
                    <td class="addtd"><input class="add" type="text" name="name" required></td>
                    <td class="addtd">
                        <select class="add" name="type">
                            <option value="Cartoon">Cartoon</option>
                            <option value="Kid Show">Kid Show</option>
                            <option value="Show">Show</option>
                            <option value="Infotainment">Infotainment</option>
                            s
                        </select>
                    </td>
                    <td class="addtd">
                        <select class="add" name="year">
                            <% var x = 1920; while(x <= new Date().getFullYear()){ %>
                            <option value="<%= x %>"><%= x %></option>
                            <% x=x + 1;} %>
                        </select>
                    <td class="addtd">
                        <input list="language" class="add" name="language">
                        <datalist id="language">
                            <% for(x of languages){ %>
                            <option value="<%= x.Language %>">
                                <% } %>
                        </datalist>
                    </td>
                    <td class="addtd">
                        <select class="add" name="watched">
                            <option value="True">True</option>
                            <option value="False">False</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="5"><input type="submit" value="+ADD A SHOW" class="button"></td>
                </tr>
            </form>
            <% for(show of shows){ %>
            <tr>
                <td><%= show.Name %></td>
                <td><%= show.Type %></td>
                <td><%= show.Year %></td>
                <td><%= show.Language %></td>
                <td>
                    <% if(show.Watched.toString() === ''){ %>True
                    <% }else{ %>False
                    <% } %>
                </td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <br/>
</div>
<div id="warning-message">
    <h1>Rotate your screen to access the website!</h1>
</div>
</body>
</html>
<script src="/javascripts/script.js"></script>
