<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel='stylesheet' href='/bootstrap/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div id="divMenuContainer">
    <a id="back" href="/">➤</a>
    <% if (header === 'rLiST'){ %>
        <style>#divMenuContainer a:hover {
                color: #ff4500;
            }</style>
        <a class="a30" href="/saveddit">Home</a>
        <a class="a30" href="/saveddit/posts">Saved Posts</a>
        <a class="a30" href="/saveddit/comments">Saved Comments</a>
    <% }else if (header === 'fsLiST'){ %>
        <style>#divMenuContainer a:hover {
                color: #fcf518;
            }</style>
        <a class="a30" href="/fs">Home</a>
        <a class="a30" href="/fs/films">Films</a>
        <a class="a30" href="/fs/shows">TV Shows</a>
    <% }else{ %>
        <style>#divMenuContainer a:hover {
                color: #9147ff;
            }</style>
        <a class="a30" href="/games">Home</a>
        <a class="a30" href="/games/played">Played Games</a>
        <a class="a30" href="/games/watched">Watched Games</a>
    <% } %>
</div>
<div id="wrapper">
    <br/>
    <% if (Url === '/posts'){ %><%- include('posts') -%>
    <% }else if(Url === '/comments'){ %><%- include('comments') -%>
    <% }else if(Url === '/shows'){ %><%- include('shows') -%>
    <% }else if(Url === '/films'){ %><%- include('films') -%>
    <% }else if(Url === '/played'){ %><%- include('played') -%>
    <% }else if(Url === '/watched'){ %><%- include('watched') -%>
    <% } %>
    <br/>
</div>
<div id="warning-message">
    <h1>Rotate your screen to access the website!</h1>
</div>
</body>
<script src="/javascripts/script.js"></script>
